@model AN.Ticket.WebUI.Components.ContactDropdownViewModel

<style>
    .btn-drop {
        background-color: #FFFFFF;
        color: #010101;
    }
    .dropdown-menu {
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
    }

    .dropdown-menu input[type="text"] {
        width: calc(100% - 1rem);
        margin: 0.5rem auto;
    }
</style>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Digite ou pesquise contato..." id="contactInput" aria-label="Digite ou pesquise contato" aria-describedby="searchIcon">
    <span class="input-group-text border-1" id="searchIcon" style="background-color: #e9ecef" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-search" style="cursor: pointer;"></i>
    </span>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="searchIcon">
        <li class="pe-2 ps-2">
            <input type="text" class="form-control" id="contactSearch" placeholder="Pesquisar...">
        </li>
        @foreach (var contact in Model.Contacts)
        {
            <li>
                <a class="dropdown-item" href="#" data-contact-id="@contact.Id" data-contact-name="@contact.FullName">@contact.FullName</a>
            </li>
        }
    </ul>
</div>