@model AN.Ticket.WebUI.ViewModels.Account.SecuritySettingViewModel

<div class="card p-4 mb-4">
    <h3>Alterar Senha</h3>
    @if (TempData["info"] != null)
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
            <div>
                @Html.Raw(TempData["info"])
            </div>
        </div>
    }
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
@*         <div asp-validation-summary="All" class="text-danger"></div>
 *@
        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <h5>Requisitos da senha:</h5>
            <ul>
                <li>Mínimo de 8 caracteres - quanto mais, melhor</li>
                <li>Pelo menos um caractere minúsculo</li>
                <li>Pelo menos um caractere maiúsculo</li>
                <li>Pelo menos um número, símbolo ou caractere de especiais</li>
            </ul>
        </div>
        <button type="submit" class="btn btn-dark">Alterar Senha</button>
    </form>
</div>
