@{
    ViewBag.Title = "Obrigado!";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-5 text-center">
        <h2 class="mb-4">Obrigado pela sua avaliação!</h2>
        <p>Sua opinião é muito importante para nós e nos ajuda a melhorar nosso atendimento.</p>
    </div>
</div>
