@model AN.Ticket.Application.DTOs.PaymantPlan.PaymantPlanDto

<!-- Modal -->
<div class="modal fade" id="planoPagamentoModal" tabindex="-1" aria-labelledby="planoPagamentoModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="planoPagamentoModalLabel">Cadastrar Plano de Pagamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Formulário para cadastro de plano de pagamento -->
        <form id="formPlanoPagamento" asp-controller="Setting" asp-action="CreatePaymentPlan" method="post">
          <div class="mb-3">
            <label asp-for="Value" class="form-label">Valor</label>
            <input asp-for="Value" type="text" class="form-control" id="valor" placeholder="Insira o valor do plano" required>
          </div>
          <div class="mb-3">
            <label asp-for="Description" class="form-label">Descrição</label>
            <input type="text" asp-for="Description" class="form-control" id="descricao"y placeholder="Insira a descrição do plano" required>
            @* <textarea asp-for="Description" class="form-control" id="descricao" rows="3" placeholder="Insira a descrição do plano" required></textarea> *@
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
        <button type="submit" class="btn btn-primary" form="formPlanoPagamento">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
