/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Offcanvas Header */
.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.offcanvas-header .offcanvas-title {
    display: flex;
    align-items: center;
}

.offcanvas-header .offcanvas-title img {
    height: 40px;
    margin-right: 10px;
}

.offcanvas-close-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 1.5rem;
}

/* Offcanvas Body */
.offcanvas-body .nav-item .nav-link {
    color: #495057;
    transition: color 0.3s;
    position: relative;
}

.offcanvas-body .nav-item .nav-link:hover {
    color: #0D6EFD;
}

.offcanvas-body .nav-item ul.navbar-nav {
    margin-top: 10px;
}

.offcanvas-body .nav-item ul.navbar-nav .nav-item .nav-link {
    padding-left: 30px;
    font-size: 1rem;
    color: #6c757d;
}

.offcanvas-body .nav-item ul.navbar-nav .nav-item .nav-link:hover {
    color: #dc3545;
}

/* Chevron Rotation */
.nav-link .bi-chevron-down {
    transition: transform 0.3s;
}

.nav-link[aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
}

/* Wrapper */
.wrapper {
    display: flex;
    flex: 1;
    margin-left: 0;
    transition: margin-left 0.3s;
}

.wrapper.show-sidebar {
    margin-left: 250px;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
}

/* Navbar */
.navbar-custom {
    background-color: #fff;
    padding: 10px 20px;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
    color: #333;
}

.navbar-custom .btn-offcanvas {
    box-shadow: none;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-size: 1.25rem;
    transition: color 0.3s;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover {
    color: #0D6EFD;
}

/* Input Group */
.input-group .form-control {
    border-radius: 0 20px 20px 0;
    box-shadow: none;
}

.input-group .input-group-text {
    border-radius: 20px 0 0 20px;
    background-color: #f8f9fa;
}

.input-group .form-control:focus, .input-group .input-group-text:focus {
    border-color: #ced4da;
    box-shadow: none;
}

