@model AN.Ticket.Application.DTOs.Contact.ContactCreateDto

@{
    ViewData["Title"] = "Criar cliente";
}

<style>
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1030;
        background-color: white;
        border-top: 1px solid #dee2e6;
    }
</style>

@await Component.InvokeAsync("Breadcrumb")

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Contact" asp-action="CreateContact" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-header">
                        Informações do cliente
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Primeiro Nome</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Segundo Nome</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Cpf" class="form-label">CPF</label>
                            <input asp-for="Cpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PrimaryEmail" class="form-label">E-mail Principal</label>
                            <input asp-for="PrimaryEmail" class="form-control" />
                            <span asp-validation-for="PrimaryEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SecondaryEmail" class="form-label">E-mail Secondário</label>
                            <input asp-for="SecondaryEmail" class="form-control" />
                            <span asp-validation-for="SecondaryEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Telefone</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="d-block text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Mobile" class="form-label">Celular</label>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="d-block text-danger"></span>
                        </div>
                        @*                 <div class="input-group mb-3">
                        <label asp-for="Title" class="form-label">Tí</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        </div> *@
                        <div class="fixed-bottom text-end p-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-plus"></i> Criar Cliente
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>