@{
    ViewData["Title"] = "Configurações";
}
<head>
</head>
<body>
    <main>
        <div class="container mt-5">
            <div class="card text-center" style="max-width: 80%; margin: auto;">
                <div class="card-header">
                    <h3 class="mb-0">Configurações de Sistema</h3>
                </div>
                <div class="card-body">
                    <div class="list-group">

                        <a asp-action="PaymentPlan" asp-controller="Setting"
                            class="list-group-item list-group-item-action d-flex align-items-center mb-2"
                            style="padding: 15px; width: 80%; margin: auto; border-radius: 10px; height: 100px;">
                            <i class="bi bi-currency-dollar me-3" style="font-size: 50px;"></i>
                            <div style="text-align: left;">
                                <h5 class="mb-1" style="font-weight: bold;">Planos de pagamento</h5>
                                <p class="mb-1" style="font-size: 18px;">Gerencie planos de pagamento do sistema.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="card text-center" style="max-width: 80%; margin: auto;">
                <div class="card-header">
                    <h3 class="mb-0">Outras configuraçoes de Sistema</h3>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center mb-2"
                            style="padding: 15px; width: 80%; margin: auto; border-radius: 10px; height: 100px;">
                            <i class="bi bi-currency-dollar me-3" style="font-size: 50px;"></i>
                            <div style="text-align: left;">
                                <h5 class="mb-1" style="font-weight: bold;">Planos de pagamento</h5>
                                <p class="mb-1" style="font-size: 18px;">Gerencie planos de pagamento do sistema.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>